Options FollowSymLinks
RewriteEngine On 
RewriteRule ^index.html$ /News/index.html [R=permanent,L]

RewriteRule ^slicing_midlets.pdf$ /Publications/slicing_midlets.pdf [R=permanent,L]
RewriteRule ^cv.html /CV/index.html$ [R=permanent,L]
RewriteRule ^desktop_gallery.html$ /Desktop_Galley/index.html [R=permanent,L]
RewriteRule ^dnssec.html$ /Projects/DNSSEC/index.html [R=permanent,L]
RewriteRule ^linktag$ /Projects/Linktag/index.html [R=permanent,L]
RewriteRule ^mailboxalert.html$ /Projects/Mailbox_Alert/index.html [R=permanent,L]
RewriteRule ^projects$ /Projects/index.html [R=permanent,L]
RewriteRule ^rrtypes$ /Projects/RRTypes/index.html [R=permanent,L]
