#main {
	position: absolute;
	width: 90%;
	height: 100%;
}

#menu {
	position: fixed;
	width: 20%;
	left: 2%;
	top: 1em;
	color: #000000;
	background-color: #aaaaff;
	border: medium ridge #666666;
}

#submenu {
	position: fixed;
	width: 20%;
	left: 2%;
	top: 20em;
	color: #000000;
	background-color: #bbbbff;
	border: medium ridge #666666;
}


#content {
	position: absolute;
	width: 70%;
	right: 0%;
	top: 1em;
	padding: 1em;
	color: #000000;
	background-color: #ddddff;
	border: medium ridge #666666;
}

.menu_item1 {
	position: relative;
	left: 2%;
}

.menu_item2 {
	position: relative;
	left: 6%;
}

.menu_item1 {
	position: relative;
	left: 10%;
}

a:link {
	text-decoration: none;
	color: #0000dd;
	font-weight: bold;
}
a:visited {
	text-decoration: none;
	color: #0000bb;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

